messagerieWS/messagerieWS/WebContent/wsdl/MailServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mail.services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mail.services" xmlns:intf="http://mail.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mail.services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendMessage">
    <complexType>
     <sequence>
      <element name="fromp" type="xsd:string"/>
      <element name="top" type="xsd:string"/>
      <element name="messagep" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMessageResponse">
    <complexType>
     <sequence>
      <element name="sendMessageReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendMessageResponse">

      <wsdl:part element="impl:sendMessageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendMessageRequest">

      <wsdl:part element="impl:sendMessage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MailServer">

      <wsdl:operation name="sendMessage">

         <wsdl:input message="impl:sendMessageRequest" name="sendMessageRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendMessageResponse" name="sendMessageResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MailServerSoapBinding" type="impl:MailServer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendMessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendMessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MailServerService">

      <wsdl:port binding="impl:MailServerSoapBinding" name="MailServer">

         <wsdlsoap:address location="http://localhost:8080/messagerieWS/services/MailServer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
